@using Visionamos.Coopcentral.DataAccess.ViewModels.TransversalUI
@using Visionamos.Coopcentral.DataAccess.Models.Integracion
@using Visionamos.Coopcentral.DataAccess.ViewModels.Integracion
@using Visionamos.Coopcentral.SitiosWeb.Extensiones
@using Visionamos.Coopcentral.SitiosWeb.Extensiones.ExtensionModels
@using Visionamos.Coopcentral.DataAccess.Models.Ecgts
@Html.LoadGridHelper()
@{
    Layout = null;
    app_user app_user = Session["Usuario"] as app_user;
    int idFormulario = Convert.ToInt32(Request.QueryString["idFormulario"]);
    var permission = app_user.perfiles.perfiles_formularios.FirstOrDefault();

    OptionGrid optionGrid = new OptionGrid();

    optionGrid.AppUser = app_user;
    optionGrid.IdModel = "Id";
    optionGrid.Controller = "NotificacionesRecaudador";
    optionGrid.TemplateName = "NotificacionesRecaudador/EditorTemplateNotificacionesRecaudador";
    optionGrid.WidthPopUp = 400;
    optionGrid.TiTlePopUp = "Titulo";
    optionGrid.ViewDelete = true;
    optionGrid.ViewDetail = true;
    optionGrid.IdForm = idFormulario;
    optionGrid.EventEdit = "onEdit"; optionGrid.AppUser = app_user;
    optionGrid.IdForm = idFormulario;

}
<style>
    .empty-grid::before {
        padding: 1em;
        line-height: 3em;
        content: "No se encuentra información registrada.";
    }
</style>
<script>
    function checkInputMail(e) {
        if (/^[0-9A-Za-z ñ Ñ . @@]+$/gi.test(e.key))
            return;
        e.preventDefault();
        e.stopPropagation();
    }
    function checkInput(e) {
        if (/^[0-9A-Za-z ñ Ñ]+$/gi.test(e.key))
            return;
        e.preventDefault();
        e.stopPropagation();
    }
    function onEdit(e) {
        //$("#IdComercioProveedor").val("#=IdComercioProveedor#").change();
        $("#IdComercioProveedorMaestroEmail").val("4DA01517-76C6-41A9-BF33-700C82B09F66").change().hide();
    }
</script>
<script>
    function filtros() {
        var entidad = $("#comboboxEntidad").data('kendoComboBox').value();
        console.log(entidad);
        return {
            entity: entidad,
        };
    }

    function onChange() {
        var selected = $("#comboboxEntidad").data('kendoComboBox').value();
        if (selected != "") {
            filtros();
            $("#grid").data("kendoGrid").dataSource.read();
        }
        else
        {
            $("#grid").data("kendoGrid").dataSource.read();
        }

    }
</script>

<div class="container-fluid-title" style="overflow:auto;padding:1rem">
    @(Html.Kendo().ComboBoxFor(m => m)
    .Name("comboboxEntidad")
    .Filter("contains")
    .DataTextField("NAME")
    .DataValueField("CODE")
    .Events(e => e.Change("onChange"))
    .Placeholder("Busca una entidad...")
    .ValuePrimitive(true)
    .DataSource(source =>
    {
        source.Custom()
                .ServerFiltering(true)
                .Type("aspnetmvc-ajax")
                .Transport(transport =>
                {
                    transport.Read("Read", "Commerce");
                })
                .Schema(schema =>
                {
                    schema.Data("Data")
                        .Total("Total");
                });
    }).HtmlAttributes(new { @style = "width: 30%;" })
)
</div>

@(Html.Kendo().Grid<commerce>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.CODE).Hidden();
        columns.Bound(p => p.NAME).Title("Recaudador");
    })
    .Filterable()
    .Pageable(p =>
    {
        p.Refresh(true);
        p.PageSizes(new int[] { 50, 100, 200, 500, 1000 });
        p.ButtonCount(4);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Excel().Text("Exportar a excel");
        toolbar.Pdf().Text("Exportar a pdf");

    })
    .Excel(excel => excel
    .AllPages(true)
    .FileName("Recaudador.xlsx")
    .Filterable(true)
    )
    .Pdf(pdf => pdf
    .AllPages()
    .FileName("Recaudador.pdf")
    )
    //.Editable(e => e.Mode(GridEditMode.PopUp).TemplateName(optionGrid.TemplateName).AdditionalViewData(null)
    //    .Window(w => w.Width(optionGrid.WidthPopUp).Title("Crear/Editar ReglasOtp"))
    //    .DisplayDeleteConfirmation(false))
    .Pageable()
    .Sortable()
    .Scrollable()
    .Resizable(resize => resize.Columns(true))
    .NoRecords("No se encuentra información registrada")
    .ClientDetailTemplateId("template")
    .DataSource(dataSource => dataSource
    .Ajax()
    .Batch(false)
    .ServerOperation(false)
    .PageSize(50)
    .Events(events =>
    {
        events.Error("errorHandlerEndGridExtension");
        events.RequestStart("onRequestStartGridExtension");
        events.RequestEnd("onRequestEndGridExtension");
    })
    .PageSize(50)
    .Model(model =>
    {
        model.Id(p => p.CODE);
    })
    //.Create(update => update.Action("Create", "NotificacionesRecaudador"))
    .Read(read => read.Action("ReadEntity", "Commerce").Data("filtros"))
    //.Update(update => update.Action("Update", "NotificacionesRecaudador"))
    //.Destroy(update => update.Action("Destroy", "NotificacionesRecaudador"))
    )
    .HtmlAttributes(new
    {
        @style = "height: 89% !important;"
    })
    )
<script id="template" type="text/kendo-tmpl">
@(Html.Kendo().Grid<comercios_proveedor_notificaciones_recaudadorGrid_UI>()
    .Name("grid_" + Convert.ToString("#=CODE#"))
    //.Events(events => events.Save("jsonRecaudador.DetailSave"))
    .Columns(columns =>
    {
        if (permission.accion_update == true || permission.accion_delete == true)
        {
            columns.Command(command =>
            {
                if (permission.accion_update == true)
                {
                    command.Edit().Text(" ");
                }
                if (permission.accion_delete == true)
                {
                    command.Destroy().Text(" ");
                }
            }).Width(100);
        }
        columns.Bound(o => o.Nombre).Title("Nombre").Width(300);
        columns.Bound(o => o.EmailNotificaciones).Title("Correo").Width(300);
    })
    .Events(events =>
    {
        if (!string.IsNullOrEmpty(optionGrid.EventEdit))
            events.Edit(optionGrid.EventEdit);
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events =>
        {
            events.Error("errorHandlerEndGridExtension");
            events.RequestEnd("onRequestEndGridExtension");
        })
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            .Create(update => update.Action("Create", "NotificacionesRecaudador", new { CodigoEntidad = Convert.ToString("#=CODE#") }))
            .Read(read => read.Action("Read", "NotificacionesRecaudador", new { CodigoEntidad = Convert.ToString("#=CODE#") }))
            .Update(update => update.Action("Update", "NotificacionesRecaudador", new { CodigoEntidad = Convert.ToString("#=CODE#") }))
            .Destroy(update => update.Action("Delete", "NotificacionesRecaudador", new { CodigoEntidad = Convert.ToString("#=CODE#") }))
            )
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName(optionGrid.TemplateName).AdditionalViewData(null)
            .Window(w => w.Width(optionGrid.WidthPopUp).Title("Crear/Editar ReglasOtp"))
            .DisplayDeleteConfirmation(false))
            .ToolBar(toolbar =>
            {
                toolbar.Create().Text("Añadir");
            })
        .Resizable(resize => resize.Columns(true))
        .Scrollable()
        .NoRecords(x => x.Template("<div class='empty-grid'></div>"))
        .ToClientTemplate()

        )
</script>

